<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Error Page</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
  </head>
  <body>
    <div class="prediction-container">
      <!-- Error Image -->
      <img
        src="../static/images/error-dog.png"
        alt="Error Illustration"
        class="error-image"
      />

      <!-- Error Message -->
      <h1>Oops! Something Went Wrong</h1>
      <p>
        We couldn't process your request. Please try again later or contact
        support.
      </p>

      <!-- Back to Previous Page Link -->
      <a href="/" class="error-btn">Back to Previous Page</a>
    </div>
  </body>
</html>
